

*{
    margin: 0;
    padding: 0;
}
body{
  background-color: black;  
  font-family: system-ui; 
}
a {
    color: white;
}
header{
    position: absolute;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 5px  25px;
}
.logo{
    font-size: 50px;
}
header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;

}
header ul li{
 margin-right: 30px;
}
header ul li a{
    padding: 6px    15px;
  
}
header ul li a:hover{
background: white;
color: black;
border-radius: 20px;
}
.main{
    position: relative;
    height: 100vh;
    width: 100%;
}
.main img{
    position: absolute;
    width: 100%;
    object-fit: cover;
}


